    {% block about %}     
         <section class="section" id="quisom_">
            <div class="container">

                <h2 class="text-center section-title">Qui som</h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <ol class="breadcrumb">
                            <li><a href="#inici_">Inici</a></li>
                            <li class="active">Qui som</li>

                            <li ><a href="#cursos_">Cursos </a></li>
                            <li ><a href="#estudis_">Estudis </a></li>
                            <li ><a href="#contacte_">Contacte </a></li>
                        </ol>                
                    </div>
                </div>
                <div class="container-fluid quisom-body">

                    <div class="row text-center">
                        <div class="col-md-8 col-md-offset-2">
                            <div id="carousel-quisom" class="carousel slide" data-ride="carousel" data-interval="2000">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-quisom" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-quisom" data-slide-to="1"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="files/images/paiporta.jpg" alt="Curs de Bioconstrucció">
                                        <div class="carousel-caption">
                                            <h3>Curs de Bioconstrucció</h3>
                                            <p>Curs a la Associació Cultural El Barranc de Paiporta</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="files/images/etsatopia.jpg" alt="Taller de Construcció amb canyes">
                                        <div class="carousel-caption">
                                            <h3>Taller de Construcció amb canyes</h3>
                                            <p>Festival de Arquitectura ETSIATOPIA</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-quisom" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-quisom" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row quisom-text">
                        <div class="col-md-10 col-md-offset-1">
                            <p>Som un grup de tècnics provinents del mon de l’arquitectura i l’enginyeria, 
                                residents a l’Horta Sud, que fruït de la convivència amb la canya, <em>Arundo donax</em> L., 
                                hem desenvolupat l’interès per aquesta espècie vegetal degut al seu potencial 
                                com <strong>element constructiu</strong>.  </p>
                        </div>
                    </div>
                    <div class="row quisom-text">
                        <div class="col-sm-5 col-sm-offset-1">    

                            <h3 class="font-medula"><strong>Bioconstrucció</strong></h3> 
                            <p>La bioconstrucció és una disciplina que es basa en l’estudi dels elements naturals 
                                que disposem al nostre voltant, obtenint informació de com es comporten els materials 
                                i utilitzant-los  per tal de resoldre les nostres necessitats constructives, 
                                obtenint d’aquesta manera estructures sostenibles, innovadores, 
                                que generen beneficis socials i mediambientals. </p>
                            <p>Trenca amb la mentalitat de la construcció industrialitzada on els materials emprats 
                                són creats artificialment, la relació entre la infraestructura i el medi es nul·la 
                                i l’únic objectiu que es persegueix es el benefici econòmic.
                                La utilització de materials naturals, com poden ser la 
                                canya, terra, pedra, palla i calç, necessita de l’ús de tècniques tradicionals 
                                i, per tant, de labors artesanals que permeten obtindré processos constructius 
                                lliures de contaminació, estructures vives que interactuen amb el medi 
                                aconseguint la integració paisatgística i la participació dinàmica de la societat.</p>

                            <h3 class="font-medula"><strong>Beneficis Socials</strong></h3> 
                            <p>La tècnica constructiva amb la canya requereix del treball cooperatiu 
                                de la gent participant i fomentant valors.</p>
                            <p>L’ús de tècniques  tradicionals permet l’intercanvi de coneixement 
                                entre gent de diferent edat, aquesta barreja permet ficar en valor 
                                els coneixements dels mes majors així com poder realitzar els tallers en família, 
                                amb col·legis, activitats socials per a empreses, etc...</p>
                            <p>A més, aquests coneixements permeten a qualsevol persona que siga capaç de 
                                encetar projectes propis amb l’ús de la canya.</p>
                        </div>
                        <div class="col-sm-5">
                            <h3 class="font-medula"><strong>Beneficis Mediambientals</strong></h3> 

                            <p>Un dels principals problemes mediambientals que tenim als nostres barrancs 
                                i zones humides és la proliferació d’espècies invasores com es 
                                l’<em>Arundo donax</em> L., donada la seva densitat poblacional, 
                                el seu ràpid creixement i l’avançament dels rizomes.</p>
                            <p>Els problemes es divideixen en dos: </p>
                            <ul>
                                <li>
                                    El desplaçament o eradicació de la vegetació autòctona: 
                                    inhibició de l’adquisició d’aigua i nutrients per part de les especies natives, 
                                    així com l’impediment de germinació y el creixement d’estes degut a la part aèria tan densa de la canya.
                                </li>
                                <li>
                                    Problemes relacionats amb la vulnerabilitat d’aquests espais naturals:
                                    <ul>
                                        <li>
                                            D’incineració degut a la seva densitat de biomassa (15,5 kg/m<sup>2</sup>) i a la seva baixa quantitat d’humitat. 
                                        </li>
                                        <li>
                                            Desbordaments i obstrucció dels elements de control hidràulic
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <p>Es per tant que les tasques d’eliminació de la canya junt a activitats de 
                                reforestació amb espècies natives permet la restauració dels espais fluvials, 
                                així com la fixació de grans quantitats de CO<sub>2</sub></p>

                            <h3 class="font-medula"><strong>Links</strong></h3> 
                            <p><a href="https://plus.google.com/111509135666729156123" target="blank">Google+</a> 
                                / <a href="https://github.com/JoanViana" target="blank"> Facebook </a>
                                / <a href="https://github.com/JoanViana" target="blank"> Twiter </a></p>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}