        
    {% block start %}    
        <section class="section" id="inici_">
            <div class="container">
                <div class="bigspace"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
                        <h1 class="title">laCanya</h1>
                        <h2 class="subtitle">estudis</h2>                        
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="bigspace"></div>
            </div>
            <div class="container">
                <div class="bigspace"></div>
            </div>
            <!--
            <h3 class="arrow arrow-down grow">
                <br><a href="javascript:void(0);"><i class="grow fa fa-arrow-circle-down"></i></a><br>
            </h3>
            <h3 class="arrow arrow-up grow">
                <br><a href="javascript:void(0);"><i class="grow fa fa-arrow-circle-up"></i></a><br>
            </h3>
            -->
        </section>
    {% endblock %}

