{#

Footer

#}

        <footer class="row-footer">
            <div class="container-fluid">
                <div class="row">             
                    <div class="col-xs-12">
                        <p style="padding:10px;"></p>
                        <p align="center">2016 - Joan Dídac Viana Fons</p>
                        <div align="center">
                            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                            <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>
                            <p style="padding:10px;"></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>