    {% block footer %}
        <footer class="row-footer">
            <div class="container">
                <div class="row">             
                    <div class="col-xs-12 text-center">
                        <p style="padding:10px;"></p>
                        <p align="center">2016 laCanya Estudis</p>
                        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />
                        <p style="padding:10px;"></p>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}