{% trans_default_domain 'JVTaskBundle' %} 

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
    {% block head %}
        {% include 'JVTaskBundle::head.html.twig' %}
    {% endblock %}
    </head>
    <body data-spy="scroll" data-offset="220" data-target="#navbar-task">
        {% block body %}
            {% block nav %}
                {% include 'JVTaskBundle::nav.html.twig' %}
            {% endblock %}
            {% block flash %}
                {% include 'JVTaskBundle::flash.html.twig' %}
            {% endblock %}
            {% block modal %}
                {% include 'JVTaskBundle::modal.html.twig' %}
            {% endblock %}
            {% block table %}
                
            {% endblock %}
            {% block footer %}
                {% include 'JVTaskBundle::footer.html.twig' %}
            {% endblock %}
            {% block navBottom %}
                {% include 'JVTaskBundle::navBottom.html.twig' %}
            {% endblock %}
        {% endblock %}
        {% block javascripts %}
        {% include 'JVTaskBundle::js.html.twig' %}{% endblock %}
    </body>
</html>