{% extends 'JVTaskBundle::layout.html.twig' %}
{% trans_default_domain 'JVTaskBundle' %} 

{% block title %}la Canya Estudis - {% endblock %}
{% block table %}
    <div class="container">
		<div class="col-md-10 col-md-offset-1">
			<div class="page-header margin-none">
				<h2 class="padding-none">{% block theader %} {% endblock %}</h2>
			</div>
			<div class="container-fluid">
				<div class="form-style">
                    {{ form_start(form, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form'} }) }}
                    {{ form_end(form) }}
				</div>
			</div>
			<div class="actions">
				<ul>
	                <li>
	                    {% block tout %}
	                            
	                    {% endblock %}
	                </li>
	            </ul>
	        </div>
		</div>
	</div>
{% endblock %}

