{% extends 'JVTaskBundle::layout.html.twig' %}
{% trans_default_domain 'JVTaskBundle' %} 

{% block title %}la Canya Estudis - {% endblock %}
{% block table %}
    <div class="container">
		<div class="col-md-10 col-md-offset-1">
			<div class="page-header margin-none">
				<h2 class="padding-none">{% block theader %} {% endblock %}</h2>
			</div>
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<tbody>
					    {% block tbody %}

                        {% endblock %}
					</tbody>
                </table>
            </div>
            <div class="actions">
                <ul>
                    <li>
                        {% block tout %}
                            
                        {% endblock %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
